################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Technico/.vs/Technico
/Technico/obj
/Technico/bin